html,
body {
    font-family: philosopher, sans-serif;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%
}

canvas {
    display: block
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffa8c1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%
}

footer {
    display: none
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, .4);
    transition: .3s;
    text-align: center;
    border-radius: 4px
}

h1 {
    margin: 0;
    font-size: 2em
}

#name-discrim {
    color: #888888;
}

.avatar {
    border-radius: 50%;
    height: 12vh;
    margin: 10px 0 15px
}

.icon {
    height: 3vh
}

p {
    font-size: 1em;
    padding: .1em;
    margin: 5px 0;
    color: #191919;
    width: 150px
}